#root {
  /* font-family:'Forum'; */
}

.dropdown-menu {
  min-width: 50pt !important;
  padding: 1pt 6pt 3pt 6pt !important;
}

.dropdown-menu li {
  text-wrap: nowrap;
}

.buttons-disabled .accordion-button::after {
  background-image: unset !important;
}

.accordion-header a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

.accordion-button-ps-1pt .accordion-item .accordion-header button {
  padding-left: 1pt;
}

.links-disabled a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}
.buttons-disabled button {
  pointer-events: none !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* .logo-text {
  font-size: 75pt -;
} */

.logo {
  image-resolution: 200dpi;
  height: 7em;
  width: min(8em, max(calc(8vw + 4em), 5em));
  height: min(8em, max(calc(8vw + 4em), 5em));
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input:valid, select:valid {
  outline: none !important;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.form-control:valid {
  background-image: none !important;
  padding-right: inherit !important;
}

.form-select:valid {
  background-image: var(--bs-form-select-bg-img) !important;
  padding-right: inherit !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-title {
  text-align: center;
  text-decoration:underline;
  color:rgb(254, 63, 50);
  text-decoration-thickness: 0.3vw;
  font-family:'Sardonyx';
  font-size:min(13vw, 82pt);
  height: 13vw;
}

.app-desc {
  text-align: center;
  font-family:'Oranienbaum';
}

.carousel-image {
  filter: blur(5px) brightness(0.99);
}

.carousel-caption {
  box-shadow: 0 0 20px 20px #00000067;
  background: #00000067;
  /* linear-gradient(#00000000, #000000, #00000000); */
}